
/* ************************************************
   Trigger button
   ************************************************ */

a#sfb-start-button {
    display: block;
    width: 100px;
    height: 25px;
    line-height: 25px;
    vertical-align: middle;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    background: #bbb;
    opacity: 0.9;
    color: black;
    z-index: 10000;
}
a#sfb-start-button:hover {
    background: green;
    color: white;
    cursor: pointer;
    opacity: 1;
    text-decoration: none;
}

@media print {
    a#sfb-start-button {
        display: none;
    }
}

/* ************************************************
   Trigger button - positioning
   ************************************************ */

#sfb-start-button.sfb-top-right {
    position: fixed;
    top: 0px;
    right: 0px;
    border-bottom-left-radius: 10px;
    box-shadow: -1px 2px 3px #ddd;
}

#sfb-start-button.sfb-bottom-right {
    position: fixed;
    bottom: 0px;
    right: 0px;
    border-top-left-radius: 10px;
    box-shadow: -1px -1px 2px #ddd;
}

#sfb-start-button.sfb-bottom-left {
    position: fixed;
    bottom: 0px;
    left: 0px;
    border-top-right-radius: 10px;
    box-shadow: 1px -1px 2px #ddd;
}

#sfb-start-button.sfb-top-left {
    position: fixed;
    top: 0px;
    left: 0px;
    border-bottom-right-radius: 10px;
    box-shadow: 1px 1px 2px #ddd;
}

#sfb-start-button.sfb-top-center {
    position: fixed;
    top: 0px;
    left: 50%;
    margin-left: -50px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: 1px 1px 2px #ddd;
}

#sfb-start-button.sfb-bottom-center {
    position: fixed;
    bottom: 0px;
    left: 50%;
    margin-left: -50px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    box-shadow: -1px 1px 2px #ddd;
}

#sfb-start-button.sfb-middle-left {
    position: fixed;
    top: 50%;
    left: 0px;
    margin-top: -12px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-left: -40px;
    box-shadow: 1px 1px 2px #ddd;

    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
    /* Should be unset in IE9+ I think. */
    /* filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3); */
}

#sfb-start-button.sfb-middle-right {
    position: fixed;
    top: 50%;
    right: 0;
    margin-top: -12px;
    margin-right: -40px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    box-shadow: 1px 1px 2px #ddd;

    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
    /* Should be unset in IE9+ I think. */
    /* filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3); */
}

/* ************************************************
   Main form
   ************************************************ */

#sfb-form {
    width: 320px;
    border: 1px solid #aaa;
    background: white;
    box-shadow: 5px 5px 5px #ddd;
    font-family: arial;
    font-size: 12px;
    z-index: 10000;
}

/* ************************************************
   Main form - positioning
   ************************************************ */

#sfb-form.sfb-top-right {
    position: fixed;
    right: 10px;
    top: 10px;
}
#sfb-form.sfb-bottom-right {
    position: fixed;
    right: 10px;
    bottom: 10px;
}
#sfb-form.sfb-bottom-left {
    position: fixed;
    left: 10px;
    bottom: 10px;
}
#sfb-form.sfb-top-left {
    position: fixed;
    left: 10px;
    top: 10px;
}
#sfb-form.sfb-middle-left {
    position: fixed;
    left: 10px;
    top: 50%;
    margin-top: -150px;
}
#sfb-form.sfb-middle-right {
    position: fixed;
    right: 10px;
    top: 50%;
    margin-top: -150px;
}
#sfb-form.sfb-top-center {
    position: fixed;
    top: 10px;
    left: 50%;
    margin-left: -150px;
}
#sfb-form.sfb-bottom-center {
    position: fixed;
    bottom: 10px;
    left: 50%;
    margin-left: -150px;
}

/* ************************************************
   Main form - elements
   ************************************************ */

#sfb-form.sending, #sfb-form.sent {
	display: none;
}

#sfb-form-sending {
	position: fixed;
	bottom: 10px;
	right: 10px;
    padding: 10px;
	width: 300px;
    font-size: 14px;
    font-weight: bold;
    vertical-align: middle;
    color: black;
}
#sfb-form-sending.sending {
    background: #eceC50;
    opacity: 0.9;
}
#sfb-form-sending.sent {
    background: green;
    color: white;
}

.sfb-form-body {
    padding: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.sfb-form-footer {
    background: #eee;
    padding: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid #ddd;
}

.sfb-form-message {
    text-align: center;
}
.sfb-form-message textarea {
    padding: 10px;
    width: 265px;
    height: 150px;
    resize: none;
    font-size: 12px;
    margin-bottom: 0;
}
.sfb-form-heading {
    font-size: 18px;
    margin: 0;
    margin-bottom: 10px;
    text-align: left;
    line-height: 30px;
}
.sfb-form-heading img {
    vertical-align: middle;
    height: 30px;
}
.sfb-form-heading span {
    position: relative;
    top: 4px;
    line-height: 30px;
    vertical-align: middle;
}
.sfb-form-drawing-container {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 11px;
}
.sfb-form-drawing-text {
    width: 210px;
    padding-top: 5px;
    color: #777;
    line-height: 12px;
}
.sfb-form-drawing-button {
    float: right;
    width: 80px;
}
#sfb-form-drawing-info {
    margin-top: 10px;
    clear: both;
}
#sfb-form-drawing-info h4 {
    margin: 0;
    margin-bottom: 5px;
}
#sfb-enable {
  width: 80px;
}

.sfb-mail-label {
    display: inline-block;
    width: 40px;
}
.sfb-mail-adr input {
    font-size: 12px;
    margin: 0;
}
.sfb-mail-adr {
    margin-bottom: 7px;
}
#sfb-advanced-link {
    padding-top: 6px;
    float: right;
    font-size: 11px;
}
#sfb-advanced-link:hover {
    cursor: pointer;
}
.sfb-mail-help {
    padding-left: 45px;
    font-size: 11px;
    color: #777;
    font-style: italic;
    margin-bottom: 7px;
}

#sfb-form-chat .sfb-btn {
    float: right;
    width: 80px;
}
#sfb-form-chat .sfb-chat-text {
    width: 210px;
    padding-top: 5px;
    color: #777;
    line-height: 12px;
}
#sfb-form-chat.sfb-chat-status-online #sfb-chat-status {
	color: green;
	font-weight: bold;
}
#sfb-form-chat.sfb-chat-status-offline #sfb-chat-status {
	font-weight: bold;
}
#sfb-form-chat {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 11px;
}

/* ************************************************
   Overrides for Bootstrap classes
   ************************************************ */

#sfb-form .sfb-btn {
    font-size: 12px;
}

#sfb-form .sfb-alert {
    margin-bottom: 5px;
}

/* ************************************************
   Bootstrap 2.3.2 - buttons and alerts
   todo: can probably trim this down a lot
   ************************************************ */

.sfb-btn {
  display: inline-block;
  *display: inline;
  padding: 4px 12px;
  margin-bottom: 0;
  *margin-left: .3em;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  cursor: pointer;
  background-color: #f5f5f5;
  *background-color: #e6e6e6;
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  border: 1px solid #cccccc;
  *border: 0;
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-bottom-color: #b3b3b3;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  *zoom: 1;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.sfb-btn:hover,
.sfb-btn:focus,
.sfb-btn:active,
.sfb-btn.active,
.sfb-btn.disabled,
.sfb-btn[disabled] {
  color: #333333;
  background-color: #e6e6e6;
  *background-color: #d9d9d9;
}

.sfb-btn:active,
.sfb-btn.active {
  background-color: #cccccc \9;
}

.sfb-btn:first-child {
  *margin-left: 0;
}

.sfb-btn:hover,
.sfb-btn:focus {
  color: #333333;
  text-decoration: none;
  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
     -moz-transition: background-position 0.1s linear;
       -o-transition: background-position 0.1s linear;
          transition: background-position 0.1s linear;
}

.sfb-btn:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.sfb-btn.active,
.sfb-btn:active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.sfb-btn.disabled,
.sfb-btn[disabled] {
  cursor: default;
  background-image: none;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}

.sfb-btn-large {
  padding: 11px 19px;
  font-size: 17.5px;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}

.sfb-btn-large [class^="icon-"],
.sfb-btn-large [class*=" icon-"] {
  margin-top: 4px;
}

.sfb-btn-small {
  padding: 2px 10px;
  font-size: 11.9px;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
}

.sfb-btn-small [class^="icon-"],
.sfb-btn-small [class*=" icon-"] {
  margin-top: 0;
}

.sfb-btn-mini [class^="icon-"],
.sfb-btn-mini [class*=" icon-"] {
  margin-top: -1px;
}

.sfb-btn-mini {
  padding: 0 6px;
  font-size: 10.5px;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
}

.sfb-btn-block {
  display: block;
  width: 100%;
  padding-right: 0;
  padding-left: 0;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.sfb-btn-block + .sfb-btn-block {
  margin-top: 5px;
}

input[type="submit"].sfb-btn-block,
input[type="reset"].sfb-btn-block,
input[type="button"].sfb-btn-block {
  width: 100%;
}

.sfb-btn-primary.active,
.sfb-btn-warning.active,
.sfb-btn-danger.active,
.sfb-btn-success.active,
.sfb-btn-info.active,
.sfb-btn-inverse.active {
  color: rgba(255, 255, 255, 0.75);
}

.sfb-btn-primary {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #006dcc;
  *background-color: #0044cc;
  background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
  background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
  background-image: -o-linear-gradient(top, #0088cc, #0044cc);
  background-image: linear-gradient(to bottom, #0088cc, #0044cc);
  background-repeat: repeat-x;
  border-color: #0044cc #0044cc #002a80;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.sfb-btn-primary:hover,
.sfb-btn-primary:focus,
.sfb-btn-primary:active,
.sfb-btn-primary.active,
.sfb-btn-primary.disabled,
.sfb-btn-primary[disabled] {
  color: #ffffff;
  background-color: #0044cc;
  *background-color: #003bb3;
}

.sfb-btn-primary:active,
.sfb-btn-primary.active {
  background-color: #003399 \9;
}

.sfb-btn-warning {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #faa732;
  *background-color: #f89406;
  background-image: -moz-linear-gradient(top, #fbb450, #f89406);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fbb450), to(#f89406));
  background-image: -webkit-linear-gradient(top, #fbb450, #f89406);
  background-image: -o-linear-gradient(top, #fbb450, #f89406);
  background-image: linear-gradient(to bottom, #fbb450, #f89406);
  background-repeat: repeat-x;
  border-color: #f89406 #f89406 #ad6704;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffbb450', endColorstr='#fff89406', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.sfb-btn-warning:hover,
.sfb-btn-warning:focus,
.sfb-btn-warning:active,
.sfb-btn-warning.active,
.sfb-btn-warning.disabled,
.sfb-btn-warning[disabled] {
  color: #ffffff;
  background-color: #f89406;
  *background-color: #df8505;
}

.sfb-btn-warning:active,
.sfb-btn-warning.active {
  background-color: #c67605 \9;
}

.sfb-btn-danger {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #da4f49;
  *background-color: #bd362f;
  background-image: -moz-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ee5f5b), to(#bd362f));
  background-image: -webkit-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: -o-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: linear-gradient(to bottom, #ee5f5b, #bd362f);
  background-repeat: repeat-x;
  border-color: #bd362f #bd362f #802420;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffee5f5b', endColorstr='#ffbd362f', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.sfb-btn-danger:hover,
.sfb-btn-danger:focus,
.sfb-btn-danger:active,
.sfb-btn-danger.active,
.sfb-btn-danger.disabled,
.sfb-btn-danger[disabled] {
  color: #ffffff;
  background-color: #bd362f;
  *background-color: #a9302a;
}

.sfb-btn-danger:active,
.sfb-btn-danger.active {
  background-color: #942a25 \9;
}

.sfb-btn-success {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #5bb75b;
  *background-color: #51a351;
  background-image: -moz-linear-gradient(top, #62c462, #51a351);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#62c462), to(#51a351));
  background-image: -webkit-linear-gradient(top, #62c462, #51a351);
  background-image: -o-linear-gradient(top, #62c462, #51a351);
  background-image: linear-gradient(to bottom, #62c462, #51a351);
  background-repeat: repeat-x;
  border-color: #51a351 #51a351 #387038;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff62c462', endColorstr='#ff51a351', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.sfb-btn-success:hover,
.sfb-btn-success:focus,
.sfb-btn-success:active,
.sfb-btn-success.active,
.sfb-btn-success.disabled,
.sfb-btn-success[disabled] {
  color: #ffffff;
  background-color: #51a351;
  *background-color: #499249;
}

.sfb-btn-success:active,
.sfb-btn-success.active {
  background-color: #408140 \9;
}

.sfb-btn-info {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #49afcd;
  *background-color: #2f96b4;
  background-image: -moz-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5bc0de), to(#2f96b4));
  background-image: -webkit-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: -o-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: linear-gradient(to bottom, #5bc0de, #2f96b4);
  background-repeat: repeat-x;
  border-color: #2f96b4 #2f96b4 #1f6377;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bc0de', endColorstr='#ff2f96b4', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.sfb-btn-info:hover,
.sfb-btn-info:focus,
.sfb-btn-info:active,
.sfb-btn-info.active,
.sfb-btn-info.disabled,
.sfb-btn-info[disabled] {
  color: #ffffff;
  background-color: #2f96b4;
  *background-color: #2a85a0;
}

.sfb-btn-info:active,
.sfb-btn-info.active {
  background-color: #24748c \9;
}

.sfb-btn-inverse {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #363636;
  *background-color: #222222;
  background-image: -moz-linear-gradient(top, #444444, #222222);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#444444), to(#222222));
  background-image: -webkit-linear-gradient(top, #444444, #222222);
  background-image: -o-linear-gradient(top, #444444, #222222);
  background-image: linear-gradient(to bottom, #444444, #222222);
  background-repeat: repeat-x;
  border-color: #222222 #222222 #000000;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff444444', endColorstr='#ff222222', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.sfb-btn-inverse:hover,
.sfb-btn-inverse:focus,
.sfb-btn-inverse:active,
.sfb-btn-inverse.active,
.sfb-btn-inverse.disabled,
.sfb-btn-inverse[disabled] {
  color: #ffffff;
  background-color: #222222;
  *background-color: #151515;
}

.sfb-btn-inverse:active,
.sfb-btn-inverse.active {
  background-color: #080808 \9;
}

button.sfb-btn,
input[type="submit"].sfb-btn {
  *padding-top: 3px;
  *padding-bottom: 3px;
}

button.sfb-btn::-moz-focus-inner,
input[type="submit"].sfb-btn::-moz-focus-inner {
  padding: 0;
  border: 0;
}

button.sfb-btn.sfb-btn-large,
input[type="submit"].sfb-btn.sfb-btn-large {
  *padding-top: 7px;
  *padding-bottom: 7px;
}

button.sfb-btn.sfb-btn-small,
input[type="submit"].sfb-btn.sfb-btn-small {
  *padding-top: 3px;
  *padding-bottom: 3px;
}

button.sfb-btn.sfb-btn-mini,
input[type="submit"].sfb-btn.sfb-btn-mini {
  *padding-top: 1px;
  *padding-bottom: 1px;
}

.sfb-btn-link,
.sfb-btn-link:active,
.sfb-btn-link[disabled] {
  background-color: transparent;
  background-image: none;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}

.sfb-btn-link {
  color: #0088cc;
  cursor: pointer;
  border-color: transparent;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
}

.sfb-btn-link:hover,
.sfb-btn-link:focus {
  color: #005580;
  text-decoration: underline;
  background-color: transparent;
}

.sfb-btn-link[disabled]:hover,
.sfb-btn-link[disabled]:focus {
  color: #333333;
  text-decoration: none;
}

.sfb-btn-group {
  position: relative;
  display: inline-block;
  *display: inline;
  *margin-left: .3em;
  font-size: 0;
  white-space: nowrap;
  vertical-align: middle;
  *zoom: 1;
}

.sfb-btn-group:first-child {
  *margin-left: 0;
}

.sfb-btn-group + .sfb-btn-group {
  margin-left: 5px;
}

.sfb-btn-toolbar {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 0;
}

.sfb-btn-toolbar > .sfb-btn + .sfb-btn,
.sfb-btn-toolbar > .sfb-btn-group + .sfb-btn,
.sfb-btn-toolbar > .sfb-btn + .sfb-btn-group {
  margin-left: 5px;
}

.sfb-btn-group > .sfb-btn {
  position: relative;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
}

.sfb-btn-group > .sfb-btn + .sfb-btn {
  margin-left: -1px;
}

.sfb-btn-group > .sfb-btn,
.sfb-btn-group > .dropdown-menu,
.sfb-btn-group > .popover {
  font-size: 14px;
}

.sfb-btn-group > .sfb-btn-mini {
  font-size: 10.5px;
}

.sfb-btn-group > .sfb-btn-small {
  font-size: 11.9px;
}

.sfb-btn-group > .sfb-btn-large {
  font-size: 17.5px;
}

.sfb-btn-group > .sfb-btn:first-child {
  margin-left: 0;
  -webkit-border-bottom-left-radius: 4px;
          border-bottom-left-radius: 4px;
  -webkit-border-top-left-radius: 4px;
          border-top-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  -moz-border-radius-topleft: 4px;
}

.sfb-btn-group > .sfb-btn:last-child,
.sfb-btn-group > .dropdown-toggle {
  -webkit-border-top-right-radius: 4px;
          border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
          border-bottom-right-radius: 4px;
  -moz-border-radius-topright: 4px;
  -moz-border-radius-bottomright: 4px;
}

.sfb-btn-group > .sfb-btn.large:first-child {
  margin-left: 0;
  -webkit-border-bottom-left-radius: 6px;
          border-bottom-left-radius: 6px;
  -webkit-border-top-left-radius: 6px;
          border-top-left-radius: 6px;
  -moz-border-radius-bottomleft: 6px;
  -moz-border-radius-topleft: 6px;
}

.sfb-btn-group > .sfb-btn.large:last-child,
.sfb-btn-group > .large.dropdown-toggle {
  -webkit-border-top-right-radius: 6px;
          border-top-right-radius: 6px;
  -webkit-border-bottom-right-radius: 6px;
          border-bottom-right-radius: 6px;
  -moz-border-radius-topright: 6px;
  -moz-border-radius-bottomright: 6px;
}

.sfb-btn-group > .sfb-btn:hover,
.sfb-btn-group > .sfb-btn:focus,
.sfb-btn-group > .sfb-btn:active,
.sfb-btn-group > .sfb-btn.active {
  z-index: 2;
}

.sfb-btn-group .dropdown-toggle:active,
.sfb-btn-group.open .dropdown-toggle {
  outline: 0;
}

.sfb-btn-group > .sfb-btn + .dropdown-toggle {
  *padding-top: 5px;
  padding-right: 8px;
  *padding-bottom: 5px;
  padding-left: 8px;
  -webkit-box-shadow: inset 1px 0 0 rgba(255, 255, 255, 0.125), inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 1px 0 0 rgba(255, 255, 255, 0.125), inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 1px 0 0 rgba(255, 255, 255, 0.125), inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.sfb-btn-group > .sfb-btn-mini + .dropdown-toggle {
  *padding-top: 2px;
  padding-right: 5px;
  *padding-bottom: 2px;
  padding-left: 5px;
}

.sfb-btn-group > .sfb-btn-small + .dropdown-toggle {
  *padding-top: 5px;
  *padding-bottom: 4px;
}

.sfb-btn-group > .sfb-btn-large + .dropdown-toggle {
  *padding-top: 7px;
  padding-right: 12px;
  *padding-bottom: 7px;
  padding-left: 12px;
}

.sfb-btn-group.open .dropdown-toggle {
  background-image: none;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.sfb-btn-group.open .sfb-btn.dropdown-toggle {
  background-color: #e6e6e6;
}

.sfb-btn-group.open .sfb-btn-primary.dropdown-toggle {
  background-color: #0044cc;
}

.sfb-btn-group.open .sfb-btn-warning.dropdown-toggle {
  background-color: #f89406;
}

.sfb-btn-group.open .sfb-btn-danger.dropdown-toggle {
  background-color: #bd362f;
}

.sfb-btn-group.open .sfb-btn-success.dropdown-toggle {
  background-color: #51a351;
}

.sfb-btn-group.open .sfb-btn-info.dropdown-toggle {
  background-color: #2f96b4;
}

.sfb-btn-group.open .sfb-btn-inverse.dropdown-toggle {
  background-color: #222222;
}

.sfb-btn .caret {
  margin-top: 8px;
  margin-left: 0;
}

.sfb-btn-large .caret {
  margin-top: 6px;
}

.sfb-btn-large .caret {
  border-top-width: 5px;
  border-right-width: 5px;
  border-left-width: 5px;
}

.sfb-btn-mini .caret,
.sfb-btn-small .caret {
  margin-top: 8px;
}

.dropup .sfb-btn-large .caret {
  border-bottom-width: 5px;
}

.sfb-btn-primary .caret,
.sfb-btn-warning .caret,
.sfb-btn-danger .caret,
.sfb-btn-info .caret,
.sfb-btn-success .caret,
.sfb-btn-inverse .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}

.sfb-btn-group-vertical {
  display: inline-block;
  *display: inline;
  /* IE7 inline-block hack */

  *zoom: 1;
}

.sfb-btn-group-vertical > .sfb-btn {
  display: block;
  float: none;
  max-width: 100%;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
}

.sfb-btn-group-vertical > .sfb-btn + .sfb-btn {
  margin-top: -1px;
  margin-left: 0;
}

.sfb-btn-group-vertical > .sfb-btn:first-child {
  -webkit-border-radius: 4px 4px 0 0;
     -moz-border-radius: 4px 4px 0 0;
          border-radius: 4px 4px 0 0;
}

.sfb-btn-group-vertical > .sfb-btn:last-child {
  -webkit-border-radius: 0 0 4px 4px;
     -moz-border-radius: 0 0 4px 4px;
          border-radius: 0 0 4px 4px;
}

.sfb-btn-group-vertical > .sfb-btn-large:first-child {
  -webkit-border-radius: 6px 6px 0 0;
     -moz-border-radius: 6px 6px 0 0;
          border-radius: 6px 6px 0 0;
}

.sfb-btn-group-vertical > .sfb-btn-large:last-child {
  -webkit-border-radius: 0 0 6px 6px;
     -moz-border-radius: 0 0 6px 6px;
          border-radius: 0 0 6px 6px;
}

.sfb-alert {
  padding: 8px 35px 8px 14px;
  margin-bottom: 20px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: #fcf8e3;
  border: 1px solid #fbeed5;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

.sfb-alert,
.sfb-alert h4 {
  color: #c09853;
}

.sfb-alert h4 {
  margin: 0;
}

.sfb-alert .close {
  position: relative;
  top: -2px;
  right: -21px;
  line-height: 20px;
}

.sfb-alert-success {
  color: #468847;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

.sfb-alert-success h4 {
  color: #468847;
}

.sfb-alert-danger,
.sfb-alert-error {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7;
}

.sfb-alert-danger h4,
.sfb-alert-error h4 {
  color: #b94a48;
}

.sfb-alert-info {
  color: #3a87ad;
  background-color: #d9edf7;
  border-color: #bce8f1;
}

.sfb-alert-info h4 {
  color: #3a87ad;
}

.sfb-alert-block {
  padding-top: 14px;
  padding-bottom: 14px;
}

.sfb-alert-block > p,
.sfb-alert-block > ul {
  margin-bottom: 0;
}

.sfb-alert-block p + p {
  margin-top: 5px;
}

